OMNIDRIVE_ENV=development
OMNIDRIVE_BIND_ADDR=:8410
OMNIDRIVE_DATABASE_DSN=postgres://postgres:postgres@127.0.0.1:5432/omnidrive?sslmode=disable
OMNIDRIVE_REDIS_ADDR=127.0.0.1:6379
OMNIDRIVE_PUBLIC_BASE_URL=http://127.0.0.1:8410
OMNIDRIVE_LOCAL_STORAGE_DIR=./data
OMNIDRIVE_S3_ENDPOINT=ueditor-sunne
OMNIDRIVE_S3_BUCKET=
OMNIDRIVE_S3_ACCESS_KEY=
OMNIDRIVE_S3_SECRET_KEY=
OMNIDRIVE_JWT_SECRET=change-me
OMNIDRIVE_ACCESS_TOKEN_EXPIRE_MINUTES=720
OMNIDRIVE_ADMIN_JWT_SECRET=change-me-admin
OMNIDRIVE_ADMIN_EMAIL=admin@omnidrive.local
OMNIDRIVE_ADMIN_NAME=OmniDriveAdmin
OMNIDRIVE_ADMIN_PASSWORD=change-me-admin
OMNIDRIVE_ADMIN_ACCESS_TOKEN_EXPIRE_MINUTES=720
OMNIDRIVE_AUTO_CREATE_SCHEMA=true
OMNIDRIVE_BILLING_MANUAL_SUPPORT_NAME=客服充值
OMNIDRIVE_BILLING_MANUAL_SUPPORT_CONTACT=
OMNIDRIVE_BILLING_MANUAL_SUPPORT_QRCODE_URL=
OMNIDRIVE_BILLING_MANUAL_SUPPORT_NOTE=请联系客服完成转账，并在订单内补充转账说明或凭证。
